/* .dashChris {
    display: flex;
  } */


.graficoChris {
  background-color: rgb(255, 255, 255);
  height: 45vh;
  width: 35vw;
  border-radius: 5%;


}

.graficoChris .card-title {
  position: relative;
  left: 1.7vw;
  top: 1vh;
}

.card-title2 {
  position: relative;
  left: 1.7vw;
  top: 7vh;

}

#grafico1 {
  position: relative;
  bottom: 9vh;
  left: 1vw;
}

#grafico2 {
  position: relative;
  left: 40vw;
  bottom: 48.8vh;
}

#rowKPIs {
  gap: 9vw;
  position: relative;
  top: 5vh;
}