/* .dashChris {
    display: flex;
  } */


.graficoChris {
  background-color: rgb(255, 255, 255);
  height: 45vh;
  width: 35vw;
  border-radius: 5%;
  
  
}

.card-title {
  position: relative;
  left: 1.7vw;
  top: 1vh;
}

.card-title2 {
  position: relative;
  left: 1.7vw;
top: 13vh;

}

 #grafico1{
position: relative;
left: 1vw;
}

#grafico2{
  position: relative;
  left: 45vw;
  bottom: 47.8vh;
}




